/* Dashboard.module.css */
.dashboardContainer {
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navButton {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navButton:hover {
    background-color: #0056b3;
  }
  
  .logoutButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logoutButton:hover {
    background-color: #c82333;
  }
  